@import "typo";
@import "variables";
@import 'fundamental-styles/dist/fundamental-styles.css';
@import 'fundamental-styles/dist/theming/sap_horizon.css';
@import '@sap-theming/theming-base-content/content/base/baseLib/sap_horizon/css_variables-RTL.css';



body {
    margin: 0 !important;
}

html, body, .fd-col, .fd-container, .fd-row {
  font-family: IRANSans, sans-serif !important;
}

.ui5-li-content {
  font-family: IRANSans, sans-serif !important;
}

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');



// Bootstrap
@import 'bootstrap/scss/bootstrap';

