@import "typo";
@import "variables";

body {
    margin: 0 !important;
}

html, body, .fd-col, .fd-container, .fd-row {
  font-family: IRANSans, sans-serif !important;
}

.ui5-li-content {
  font-family: IRANSans, sans-serif !important;
}

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');



// Bootstrap
@import 'bootstrap/scss/bootstrap';

