@import "typo";
@import "variables";
@import 'fundamental-styles/dist/fundamental-styles.css';
@import 'fundamental-styles/dist/theming/sap_horizon.css';
@import '@sap-theming/theming-base-content/content/base/baseLib/sap_horizon/css_variables-RTL.css';




@import 'fundamental-styles/dist/icon.css';
@import 'fundamental-styles/dist/table.css';


body {
    margin: 0 !important;
}

html, body, .fd-col, .fd-container, .fd-row {
  font-family: IRANSans, sans-serif !important;
}

.ui5-li-content {
  font-family: IRANSans, sans-serif !important;
}

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');



// Bootstrap
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SAP-icons";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BusinessSuiteInAppSymbols';
    src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/BusinessSuiteInAppSymbols.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SAP-icons-TNT';
    src: url('~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons-TNT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
}
